#root {
  width: 100wh;
  width: 100swh;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 24px;
}

.content-body {
  background-color: var(--white);
  padding-block: 60px;
  min-height: 50vh;
  border-bottom: 1px solid var(--outline-grey);
}

.category:not(:last-of-type) {
  margin-bottom: 2rem;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

header {
  background-color: var(--blue);
  width: 100%;
  color: var(--white);
}

header > div.container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header span {
  font-size: 20px;
  font-weight: 600;
}

header label {
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
}

header select {
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid var(--lt-grey);
}

nav {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--outline-grey);
}

nav > div {
  display: flex;
}

nav a {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  padding-block: 16px;
  transition: 200ms ease-in-out;
  border-bottom: 2px solid var(--outline-grey);
}

nav a:hover {
  background-color: var(--t-blue);
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}

footer {
  text-align: center;
  padding-block: 16px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: var(--text);
  position: relative;
  font-weight: 600;
  left: 0;
}

footer a::after {
  position: absolute;
  opacity: 0;
  right: -5px;
  content: url(./redirect-icon.svg);
}

.active {
  color: var(--blue);
  border-color: var(--blue);
}
footer a,
footer a::after {
  transition: 200ms ease-out;
}

footer a:hover {
  color: var(--blue);
  left: -5px;
}

footer a:hover::after {
  opacity: 1;
  right: -15px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-dark);
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--outline-grey);
}

.secondary-btn,
.primary-btn {
  font-size: 14px;
  font-weight: 500;
  height: 2rem;
  padding-inline: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid var(--outline-grey);
  color: var(--blue);
}

.delete:hover,
.secondary-btn:hover {
  background-color: var(--t-blue);
  border-color: var(--blue);
}

.primary-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

.primary-btn:hover {
  color: var(--blue);
  background-color: var(--t-blue);
}

.delete {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 200ms ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--outline-grey);
  color: var(--blue);
}

.budget-overview {
  padding-block: 48px;
  width: 100%;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-inline: 0.5rem;
  background-color: var(--bg-grey);
  border: 1px solid var(--outline-grey);
  border-radius: 4px;
  color: var(--text-dark);
}

input::placeholder {
  font-size: 14px;
}

.input-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 0.5rem;
  margin-block: 0.75rem;
  transition: 200ms ease-in-out;
}

.row-container:first-of-type {
  border-top: 1px solid var(--outline-grey-t);
  padding-top: 0.75rem;
}

.row-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  font-size: 14px;
  color: var(--text-dark);
  animation: fadeIn 0.3s ease-in;
  position: relative;
}

.row-container p {
  height: 2rem;
  border: 1px solid var(--outline-grey);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
}

.row-container:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.row-container p {
  margin-right: 0.5rem;
}

.summary {
  border: 1px solid var(--outline-grey);
  border-radius: 0.25rem;
  /* width: */
  /* padding: 1rem; */
  /* margin-top: 4rem; */
}

.summary h3 {
  padding-block: 1rem;
  width: 100%;
  text-align: center;
}

.summary table {
  width: 90%;
  margin: auto;
}

.summary tr {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.total-summary {
  display: block;
  text-align: center;
  padding-block: 1.5rem;
  border-top: 1px solid var(--outline-grey);
  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 720px) {
  .two-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: start;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 0;
  }
}
