#root {
  width: 100wh;
  width: 100swh;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 24px;
}

.content-body {
  background-color: var(--white);
  padding-block: 60px;
  min-height: 50vh;
  border-bottom: 1px solid var(--outline-grey);
}

header {
  background-color: var(--blue);
  width: 100%;
  color: var(--white);
}

header > div.container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header span {
  font-size: 20px;
  font-weight: 600;
}

header label {
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
}

header select {
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid var(--lt-grey);
}

nav {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--outline-grey);
}

nav > div {
  display: flex;
}

nav a {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  padding-block: 16px;
  transition: 200ms ease-in-out;
  border-bottom: 2px solid var(--outline-grey);
}

nav a:hover {
  background-color: var(--t-blue);
  border-bottom: 2px solid var(--blue);
}

footer {
  text-align: center;
  padding-block: 16px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: var(--text);
  position: relative;
  font-weight: 600;
}

footer a::after {
  position: absolute;
  right: -15px;
  content: url(./redirect-icon.png);
}

footer a,
footer a::after {
  transition: 200ms ease-in-out;
}

footer a:hover {
  color: var(--blue);
}

footer a:hover::after {
  right: -20px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 0;
  }
}
